{
    "branches": [ "main" ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@google/semantic-release-replace-plugin",
            {
              "replacements": [
                {
                    "files": ["redirection-scheduler.json"],
                    "from": "\"version\": \".*\"",
                    "to": "\"version\": \"${nextRelease.version}\"",
                    "results": [
                      {
                        "file": "redirection-scheduler.json",
                        "hasChanged": true,
                        "numMatches": 1,
                        "numReplacements": 1
                      }
                    ],
                    "countMatches": true
                  },
                {
                  "files": ["redirection-scheduler.php"],
                  "from": "Version: .*",
                  "to": "Version: ${nextRelease.version}",
                  "results": [
                    {
                      "file": "redirection-scheduler.php",
                      "hasChanged": true,
                      "numMatches": 1,
                      "numReplacements": 1
                    }
                  ],
                  "countMatches": true
                }
              ]
            }
        ],
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md",
                "changelogTitle": "# Semantic Versioning Changelog"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md",
                    "redirection-scheduler.php",
                    "redirection-scheduler.json"
                ]
            }
        ],
        [
          "@semantic-release/github",
          {
              "assets": [
                  {
                      "path": "release/**"
                  }
              ]
          }
      ]
    ]
}
